{% extends "base.html" %}

{% block title %} {{current_user.get_full_name()}} {% endblock %}




    {% block content %}
  <img src="{{current_user.image_url}}" alt="profile pic">
  <h1>{{current_user.get_full_name()}}</h1>
  <a href="/user/{{current_user.id}}/edit"><button type="button" name="button">Edit</button></a>
  <a href="/users/{{current_user.id}}/delete"><button type="button" name="button">Delete</button></a>

  <h2>Posts</h2>
  {%for post in current_user.posts%}
  <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
  {%endfor%}

<a href="/users/{{current_user.id}}/posts/new"><button type="button" name="button">Add Post</button></a>
    {% endblock %}
